CloudConsulting/force-app/main/default/flows/Allocated_Hours_Per_Role_Update_Project_Line_Item.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>totalHoursPerRole</name>
        <label>totalHoursPerRole</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>totalHours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sumHours.RequieredHours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sumHours</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Allocated Hours Per Role Update Project Line Item {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Allocated Hours Per Role Update Project Line Item</label>
    <loops>
        <name>sumHours</name>
        <label>sumHours</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Hours</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>totalHoursPerRole</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_PLI_Total_Hours</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Hours</name>
        <label>Get Hours</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sumHours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Line_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project_Line_Item__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project_Resources__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_PLI_Total_Hours</name>
        <label>Update PLI Total Hours</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project_Line_Item__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>HoursAllocated__c</field>
            <value>
                <elementReference>totalHours</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Line_Item__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Hours</targetReference>
        </connector>
        <object>Project_Resources__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>totalHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
