CloudConsulting/force-app/main/default/flows/CreateAProject.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_To_Collection</name>
        <label>Add_To_Collection</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>CollectionProjectLineItem</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CreationOfRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreatingProjectLineItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>new_ProjectLineItem</name>
        <label>new_ProjectLineItem</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>CreationOfRecords.HoursPerRole__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreatingProjectLineItem.QuantityHours__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreationOfRecords.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreatingProjectLineItem.Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreationOfRecords.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_a_Project</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreationOfRecords.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreatingProjectLineItem.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreationOfRecords.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_a_Project</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection</targetReference>
        </connector>
    </assignments>
    <description>Create a Project when the Stage field in Opportunity changes to Closed-Won</description>
    <environments>Default</environments>
    <interviewLabel>CreateAProject {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateAProject</label>
    <loops>
        <name>CreatingProjectLineItem</name>
        <label>CreatingProjectLineItem</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>GetOppLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>new_ProjectLineItem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create</name>
        <label>Create</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <inputReference>CollectionProjectLineItem</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Project</name>
        <label>Create a Project</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>GetOppLineItems</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>$Record.Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate__c</field>
            <value>
                <elementReference>$Record.EndDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.ProjectManager__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProjectManager__c</field>
            <value>
                <elementReference>$Record.ProjectManager__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityHours__c</field>
            <value>
                <elementReference>$Record.TotalOpportunityQuantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate__c</field>
            <value>
                <elementReference>$Record.StartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pre Kickoff</stringValue>
            </value>
        </inputAssignments>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetOppLineItems</name>
        <label>GetOppLineItems</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreatingProjectLineItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_a_Project</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectionProjectLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>CreationOfRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Line_Item__c</objectType>
    </variables>
</Flow>
