CloudConsulting/force-app/main/default/flows/End_of_Project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>incomplete_task</name>
        <label>incomplete task</label>
        <locationX>314</locationX>
        <locationY>1644</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>The project: {!$Record.Name}, that was supposed to be completed today has pending tasks to finish, so its status has not been able to change to completed.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.ProjectManager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Unfinished Project!!</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Count</name>
        <label>Add Count</label>
        <locationX>270</locationX>
        <locationY>1212</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Resources_Ids</name>
        <label>Set Resources Ids</label>
        <locationX>270</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>SetIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Resources.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Resources</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Verify_Date_End</name>
        <label>Verify Date End</label>
        <locationX>380</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ends_Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EndDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Resources</targetReference>
            </connector>
            <label>Ends Today</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Task_Status</name>
        <label>Verify Task Status</label>
        <locationX>402</locationX>
        <locationY>1092</locationY>
        <defaultConnector>
            <targetReference>Loop_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Uncompleted_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Tasks.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Count</targetReference>
            </connector>
            <label>Uncompleted Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Variable_Count</name>
        <label>Verify Variable Count</label>
        <locationX>182</locationX>
        <locationY>1524</locationY>
        <defaultConnector>
            <targetReference>incomplete_task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unfinished tasks</defaultConnectorLabel>
        <rules>
            <name>completed_tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Project_Status</targetReference>
            </connector>
            <label>completed tasks</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>End of Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>End of Project</label>
    <loops>
        <name>Loop_Resources</name>
        <label>Loop Resources</label>
        <locationX>182</locationX>
        <locationY>516</locationY>
        <collectionReference>Get_Resources</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Resources_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Task</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Tasks</name>
        <label>Loop Tasks</label>
        <locationX>182</locationX>
        <locationY>972</locationY>
        <collectionReference>Get_Task</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Verify_Task_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Verify_Variable_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Resources</name>
        <label>Get Resources</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Resources</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project_Resources__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>182</locationX>
        <locationY>852</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Resource__c</field>
            <operator>In</operator>
            <value>
                <elementReference>SetIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Change_Project_Status</name>
        <label>Change Project Status</label>
        <locationX>50</locationX>
        <locationY>1644</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Verify_Date_End</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <object>Project__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-05-08</startDate>
            <startTime>18:32:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RelatedTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task__c</objectType>
    </variables>
    <variables>
        <name>SetIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
