CloudConsulting/force-app/main/default/flows/mandarMailenCasoAllow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Vacation_Allow</name>
        <label>Vacation Allow</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>text</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>emailsUsers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Vacation Allow</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>emailsUsers1</name>
        <label>emailsUsers1</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>emailsUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopPR.User__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopPR</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>mandarMailenCasoAllow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>mandarMailenCasoAllow</label>
    <loops>
        <name>loopPR</name>
        <label>loopPR</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Traer_Project_Resources_Vinculados_al_Proyecto</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>emailsUsers1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Vacation_Allow</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Traer_Project_Resources_Vinculados_al_Proyecto</name>
        <label>Traer Project Resources Vinculados al Proyecto</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopPR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project_Resources__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Traer_Project_Resources_Vinculados_al_Proyecto</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status_of_Approval__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Allowed</stringValue>
            </value>
        </filters>
        <object>Vacation__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>text</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Record.Name} has been allowed to Vacation, he/she will be out of the proyect for {!$Record.days_out_of_the_project__c} days.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Proyect: {!$Record.Project__r.Name}&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>coleccionProjectResources</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Project_Resources__c</objectType>
    </variables>
    <variables>
        <name>emailsUsers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
