CloudConsulting/force-app/main/default/flows/Request_Vacation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>submitForApproval</name>
        <label>submitForApproval</label>
        <locationX>490</locationX>
        <locationY>1766</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>loopActionEmail</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>loopActionEmail.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>addToColeccionCaso1</name>
        <label>addToColeccionCaso1</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>coleccionCrearVacation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>crearVacation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopPRcaso2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>caso1</name>
        <label>caso1</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>crearVacation.days_out_of_the_project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartYEndCaenAdentro</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>crearVacation.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_explain_the_reason_of_the_vacation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>crearVacation.EndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Vacation_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>crearVacation.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Full_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>crearVacation.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>passUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>crearVacation.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>passUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>crearVacation.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopPRcaso2.Project__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>crearVacation.StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Vacation_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>crearVacation.PM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopPRcaso2.Project__r.ProjectManager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>crearVacation.SL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopPRcaso2.Project__r.SquadLead__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>crearVacation.Status_of_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>crearVacation.Project_Resource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopPRcaso2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addToColeccionCaso1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>contarPr1</name>
        <label>contarPr</label>
        <locationX>226</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>contarPR</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Project_Resources</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopPRcaso2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_addToColeccionCaso1</name>
        <label>Copy 1 of addToColeccionCaso1</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>coleccionCrearVacation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>crearVacation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopPRcaso2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_caso1</name>
        <label>Copy 1 of caso1</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>crearVacation.days_out_of_the_project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contarDiasSiCaeEnStart</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>crearVacation.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_explain_the_reason_of_the_vacation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>crearVacation.EndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopPRcaso2.EndDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>crearVacation.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Full_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>crearVacation.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>passUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>crearVacation.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>passUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>crearVacation.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopPRcaso2.Project__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>crearVacation.StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Vacation_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>crearVacation.PM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopPRcaso2.Project__r.ProjectManager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>crearVacation.SL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopPRcaso2.Project__r.SquadLead__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>crearVacation.Status_of_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>crearVacation.Project_Resource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopPRcaso2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_addToColeccionCaso1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_addToColeccionCaso1</name>
        <label>Copy 1 of Copy 1 of addToColeccionCaso1</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>coleccionCrearVacation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>crearVacation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopPRcaso2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_caso1</name>
        <label>Copy 1 of Copy 1 of caso1</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>crearVacation.days_out_of_the_project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cae_E_n_End</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>crearVacation.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_explain_the_reason_of_the_vacation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>crearVacation.EndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Vacation_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>crearVacation.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Full_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>crearVacation.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>passUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>crearVacation.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>passUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>crearVacation.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopPRcaso2.Project__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>crearVacation.StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopPRcaso2.StartDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>crearVacation.PM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopPRcaso2.Project__r.ProjectManager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>crearVacation.SL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopPRcaso2.Project__r.SquadLead__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>crearVacation.Status_of_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>crearVacation.Project_Resource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopPRcaso2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_addToColeccionCaso1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_addToColeccionCaso1</name>
        <label>Copy 1 of Copy 1 of Copy 1 of addToColeccionCaso1</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>coleccionCrearVacation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>crearVacation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopPRcaso2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_caso1</name>
        <label>Copy 2 of caso1</label>
        <locationX>1106</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>crearVacation.days_out_of_the_project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SiStartYEndCaenAfuera</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>crearVacation.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Please_explain_the_reason_of_the_vacation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>crearVacation.EndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopPRcaso2.EndDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>crearVacation.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Full_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>crearVacation.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>passUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>crearVacation.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>passUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>crearVacation.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopPRcaso2.Project__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>crearVacation.StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopPRcaso2.StartDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>crearVacation.PM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopPRcaso2.Project__r.ProjectManager__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>crearVacation.SL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopPRcaso2.Project__r.SquadLead__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>crearVacation.Status_of_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>crearVacation.Project_Resource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopPRcaso2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_addToColeccionCaso1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PRLasFechasNoCoinciden</name>
        <label>PRLasFechasNoCoinciden</label>
        <locationX>1370</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>contarPR2</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopPRcaso2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CaeEn_End</name>
        <label>CaeEnEnd</label>
        <locationX>974</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>PRLasFechasNoCoinciden</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>El proyecto ya paso o aun no ha pasado</defaultConnectorLabel>
        <rules>
            <name>CaeEnStart</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Start_Vacation_Date</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>loopPRcaso2.StartDate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Start_Vacation_Date</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>loopPRcaso2.EndDate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>End_Vacation_Date</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>loopPRcaso2.EndDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_caso1</targetReference>
            </connector>
            <label>CaeEnStart</label>
        </rules>
        <rules>
            <name>CaeEnEnd</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Start_Vacation_Date</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>loopPRcaso2.StartDate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>End_Vacation_Date</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>loopPRcaso2.StartDate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>End_Vacation_Date</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>loopPRcaso2.EndDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_caso1</targetReference>
            </connector>
            <label>CaeEnEnd</label>
        </rules>
        <rules>
            <name>StartYEnd</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Start_Vacation_Date</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>loopPRcaso2.StartDate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>End_Vacation_Date</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>loopPRcaso2.EndDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_caso1</targetReference>
            </connector>
            <label>StartYEnd</label>
        </rules>
    </decisions>
    <decisions>
        <description>El recurso esta asignado a mas de un proyecto, pero sus vacaciones solo caen cuando esta en uno</description>
        <name>casoSoloProyecto</name>
        <label>casoSoloProyecto</label>
        <locationX>644</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>CaeEn_End</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>caso3</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>Start_Vacation_Date</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>loopPRcaso2.StartDate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>End_Vacation_Date</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>loopPRcaso2.EndDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>caso1</targetReference>
            </connector>
            <label>caso3</label>
        </rules>
    </decisions>
    <decisions>
        <name>siPRigualPR2</name>
        <label>siPRigualPR2</label>
        <locationX>226</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>creandoVacation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>siPR2igualPR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contarPR</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>contarPR2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>asdasd</targetReference>
            </connector>
            <label>siPR2igualPR</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Cae_E_n_End</name>
        <dataType>String</dataType>
        <expression>TEXT({!End_Vacation_Date} - {!loopPRcaso2.StartDate__c})</expression>
    </formulas>
    <formulas>
        <name>contarDiasSiCaeEnStart</name>
        <dataType>String</dataType>
        <expression>TEXT({!loopPRcaso2.EndDate__c} - {!Start_Vacation_Date})</expression>
    </formulas>
    <formulas>
        <name>passUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>SiStartYEndCaenAfuera</name>
        <dataType>String</dataType>
        <expression>TEXT({!loopPRcaso2.EndDate__c} - {!loopPRcaso2.StartDate__c})</expression>
    </formulas>
    <formulas>
        <name>StartYEndCaenAdentro</name>
        <dataType>String</dataType>
        <expression>TEXT({!End_Vacation_Date} - {!Start_Vacation_Date})</expression>
    </formulas>
    <interviewLabel>Request Vacation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Request Vacation</label>
    <loops>
        <name>loopActionEmail</name>
        <label>loopActionEmail</label>
        <locationX>402</locationX>
        <locationY>1646</locationY>
        <collectionReference>coleccionCrearVacation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>submitForApproval</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>loopPRcaso2</name>
        <label>loopPRcaso2</label>
        <locationX>226</locationX>
        <locationY>518</locationY>
        <collectionReference>Get_Project_Resources</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>casoSoloProyecto</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>siPRigualPR2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>creandoVacation</name>
        <label>creandoVacation</label>
        <locationX>402</locationX>
        <locationY>1526</locationY>
        <connector>
            <targetReference>loopActionEmail</targetReference>
        </connector>
        <inputReference>coleccionCrearVacation</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Project_Resources</name>
        <label>Get Project Resources</label>
        <locationX>226</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>contarPr1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project_Resources__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>asdasd</name>
        <label>asdasd</label>
        <locationX>50</locationX>
        <locationY>1526</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>asdasdasd</name>
            <fieldText>&lt;p&gt;&lt;em&gt;You have no projects that match the day of your vacation. You can enjoy your vacation happily!&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;PD: Please bring us souvenirs!&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Vacation_Information</name>
        <label>User Vacation Information</label>
        <locationX>226</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Project_Resources</targetReference>
        </connector>
        <fields>
            <name>explicacion</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Hi {!$User.FirstName}!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;Take into account that the days you are not in a project you are free to enjoy your private life. You don&apos;t nee﻿d approval from no one.&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Full_Name</name>
            <dataType>String</dataType>
            <fieldText>Full Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Start_Vacation_Date</name>
            <dataType>Date</dataType>
            <fieldText>Start Vacation Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>End_Vacation_Date</name>
            <dataType>Date</dataType>
            <fieldText>End Vacation Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Please_explain_the_reason_of_the_vacation</name>
            <dataType>String</dataType>
            <fieldText>Please explain the reason of the vacation</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>User_Vacation_Information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>coleccionCrearVacation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vacation__c</objectType>
    </variables>
    <variables>
        <name>contarPR</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>contarPR2</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>crearVacation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Vacation__c</objectType>
    </variables>
</Flow>
