CloudConsulting/force-app/main/default/flows/UpdateStatusPerStartDate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>LeadRequired</name>
        <label>LeadRequired</label>
        <locationX>842</locationX>
        <locationY>516</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Please assign a Squad Lead to the project :  {!$Record.Name} </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.ProjectManager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Squad Lead required</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>LossMail</name>
        <label>LossMail</label>
        <locationX>314</locationX>
        <locationY>756</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue> The current project, {!$Record.Name}, which started today, is showing a loss in its balance. Please review if its data was correctly loaded.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.ProjectManager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Loss in a Project!</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ProjectInProgress</name>
        <label>ProjectInProgress</label>
        <locationX>50</locationX>
        <locationY>876</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>{!$Record.Name} Paso la verificacion </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.ProjectManager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Mileeeeeee </stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>StartDateNull</name>
        <label>StartDateNull</label>
        <locationX>1106</locationX>
        <locationY>396</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>{!$Flow.CurrentRecord}: The project being referred to does not have a registered start date.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.ProjectManager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Start date field required.</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Uncovered_Hours</name>
        <label>Uncovered Hours</label>
        <locationX>578</locationX>
        <locationY>636</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>The project {!$Record.Name} , that was supposed to start today does not have the required covered hours. Please allocate resources to start it.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.ProjectManager__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Verify covered hours.</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Squad_Lead_Required</name>
        <label>Squad Lead Required</label>
        <locationX>611</locationX>
        <locationY>396</locationY>
        <defaultConnector>
            <targetReference>LeadRequired</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Squad lead not assigned</defaultConnectorLabel>
        <rules>
            <name>Squad_Lead_assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SquadLead__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verify_covered_hours</targetReference>
            </connector>
            <label>Squad Lead assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Balance</name>
        <label>Verify Balance</label>
        <locationX>182</locationX>
        <locationY>636</locationY>
        <defaultConnector>
            <targetReference>LossMail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Loss</defaultConnectorLabel>
        <rules>
            <name>Profit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Cost__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.Amount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChangeStatus</targetReference>
            </connector>
            <label>Profit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_covered_hours</name>
        <label>Verify covered hours</label>
        <locationX>380</locationX>
        <locationY>516</locationY>
        <defaultConnector>
            <targetReference>Uncovered_Hours</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Uncovered hours</defaultConnectorLabel>
        <rules>
            <name>Covered_hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.QuantityHours__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.QuantityHoursAllocated__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verify_Balance</targetReference>
            </connector>
            <label>Covered hours</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check project start date.</description>
        <name>Verify_Date</name>
        <label>Verify Date</label>
        <locationX>990</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>StartDate != Today</defaultConnectorLabel>
        <rules>
            <name>StarDate_Today</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StartDate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Squad_Lead_Required</targetReference>
            </connector>
            <label>StartDate = Today</label>
        </rules>
        <rules>
            <name>StartDate_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StartDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>StartDateNull</targetReference>
            </connector>
            <label>StartDate = NULL</label>
        </rules>
    </decisions>
    <description>The status changes to &quot;in progress&quot; automatically when its start date arrives.</description>
    <environments>Default</environments>
    <formulas>
        <name>getDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>UpdateStatusPerStartDate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateStatusPerStartDate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>ChangeStatus</name>
        <label>ChangeStatus</label>
        <locationX>50</locationX>
        <locationY>756</locationY>
        <connector>
            <targetReference>ProjectInProgress</targetReference>
        </connector>
        <inputAssignments>
            <field>In_Progress__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>864</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Verify_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre Kickoff</stringValue>
            </value>
        </filters>
        <object>Project__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-04-23</startDate>
            <startTime>12:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EmailPM</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.ProjectManager__r.Email</elementReference>
        </value>
    </variables>
</Flow>
